/*Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;

}

/* Heading */

.heading {
    text-align: center;
    font-size: 1.5rem;
}

/*game area*/

.game-area {
    background-color: #59a5d7;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
#question-text {
    width: 75%;
    font-size: 2rem;
    margin: auto;
    padding-top: 20%;
}

.options {
    padding-top: 10%;
}

.btn{
    padding-top: 10px;
    background-color: white;
    border: 1px solid;
    width: 150px;
    height: 50px;
    font-size: 2rem;
    margin: 0 30px;      
}


.controls {
    padding-top: 10px;
}

/*buttons under game area*/

.btn:active,
.btn:hover {
    background-color: darkblue;
    color: aliceblue;
}

.start-btn, .next-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    align-items: center;
    justify-content: center;
    display: flex;
}

.score-area {
    background-color: #59a5d7;
    box-sizing: border-box;
    width: 85%;
    height: 15vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;

}

