/*Global style */

body {
    background-color: rgb(168, 141, 124);;
    font-family: "Raleway", sans-serif;
    color: black;
    text-align: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 9%;
}

/*game area*/

.game-area {
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
#question-text {
    width: 75%;
    font-size: 2rem;
    margin: auto;
    padding-top: 15%;
}

.options {
    padding-top: 10%;
}

.btn{
    padding-top: 10px;
    background-color: white;
    border: 1px solid;
    width: 150px;
    height: 50px;
    font-size: 2rem;
    margin: 0 30px;      
}


.controls {
    padding-top: 10px;
}

.btn:active,
.btn:hover {
    background-color: darkblue;
    color: aliceblue;
}

.next-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    align-items: center;
    justify-content: center;
    display: flex;
}

.hide {
    display: none;
}
